.page {
    padding: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selectedPage {
    font-size: 1.5rem;
    padding-top: -8px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}